{% extends 'layout.html' %}

{% block body %}
	<div class="content">
		<div class="row">
			<div class="col-md-6">
				<h2>Adicionar Aluno</h2>
				<form id="aluno-form" name="personal-form" method="POST" action="{{ url_for('admin_blueprint.add_aluno') }}" class="form" role="form">
					<div class="form-group">
						<label for="nome">Nome: </label>
						<input type="text" class="text" value="" name="nome" id="nome" placeholder="Nome" class="form-control">
					</div>
					<div class="form-group">
						<label for="nome">E-mail: </label>
						<input type="text" class="text" value="" name="email" id="email" placeholder="E-mail" class="form-control">
					</div>
					<div class="form-group">
						<label for="nome">Senha: </label>
						<input type="password" class="text" value="" name="senha" id="senha" placeholder="Senha" class="form-control">
					</div>
					<div class="form-group">
						<label for="nome">Senha: </label>
						<select id="trainer" name="trainer">
							<option value="">Selecione o Personal Trainer</option>
						{% for trainer in trainers %}
							<option value="{{ trainer.id }}">{{ trainer.nome }}</option>
						{% endfor %}
						</select>
					</div>
					<input type="submit" class="btn btn-primary" value="Cadastrar Aluno">
				</form>
			</div>
			<div class="col-md-6">
				<h2>Adicionar Personal Trainer</h2>
				<form id="personal-form" name="personal-form" method="POST" action="{{ url_for('admin_blueprint.add_trainer') }}" class="form" role="form">
					<div class="form-group">
						<label for="nome">Nome: </label>
						<input type="text" class="text" value="" name="nome" id="nome" placeholder="Nome" class="form-control">
					</div>
					<div class="form-group">
						<label for="nome">E-mail: </label>
						<input type="text" class="text" value="" name="email" id="email" placeholder="E-mail" class="form-control">
					</div>
					<div class="form-group">
						<label for="nome">Senha: </label>
						<input type="password" class="text" value="" name="senha" id="senha" placeholder="Senha" class="form-control">
					</div>
					<input type="submit" class="btn btn-primary" value="Cadastrar Alunuo">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
