<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}SocialGym!{% endblock %}</title>

		<link href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

		<script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">SocialGym!</a>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="content">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible fade in">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message }}
				</div>
				{% endfor %}
			{% endwith %}

			{% block body %}
			{% endblock %}
			</div>
		</div>
	</body>
</html>
